<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  </head>
  <body>
    <p>Bonjour {{ obj.first_name}} {{ obj.last_name }},</p>

    <p>Vous vous êtes inscrits pour la journée Portes Ouvertes du {{ obj.slot.date.date }} de la Crèche Parentale Farandole au créneau de <b>{{ obj.slot.description }}</b>.</p>
    <p>A moins d'un revirement de la situation sanitaire, les portes ouvertes se dérouleront à la crèche (105 rue Alexandre Dumas, 75020 Paris), ce qui nous permettra d'échanger de vive voix et de vous présenter les locaux. Merci d'avance pour votre ponctualité, les créneaux étant de seulement trente minutes.</p>

    <p>La page suivante vous permet de modifier ou d'annuler votre rendez-vous :<br/>
      <a href="{{ path }}{{ obj.id }}/">{{ path }}{{ obj.id }}/</a></p>

    <p>Pour toutes questions relatives aux inscriptions, merci de nous contacter par email à l'adresse <a href="mailto:inscription@crechefarandole.com">inscription@crechefarandole.com</a></p>

    <p>Au plaisir de vous rencontrer,<br>
      La Crèche Parentale Farandole
    </p>
  </body>
</html>
