{% spaceless %}
<!doctype html>
<html lang="fr">
<head>
  <meta charset=utf-8>
  <meta name="robots" content="noarchive">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Inscriptions Journée Porte Ouvertes de la Crèche Farandole">
  <meta name="author" content="Crèche Farandole">

  <title>{% block title %}Home{% endblock title %}</title>
  {% block head_css %}
    {% block head_css_site %}
      {% load static %}<link href="{% static 'bootstrap.min.css' %}" rel="stylesheet">
    {% endblock head_css_site %}
    {% block head_css_page %}{% endblock head_css_page %}
  {% endblock head_css %}
  <style>
    body { font-size:120%; }
  </style>
</head>
<body>
  <div class="container">
    {% block content %}
      error
    {% endblock %}
  </div>

  {% block footer_javascript %}
    {% block footer_javascript_site %}
    <script>document.domain = "crechefarandole.com";</script> 
    {% endblock footer_javascript_site %}
    {% block footer_javascript_page %}{% endblock footer_javascript_page %}
  {% endblock footer_javascript %}
</body>
</html>
{% endspaceless %}
